div#img-box {

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: .9;
    }

    &:active {
      opacity: .7;
    }
  }
}

div.quote {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;

  @media (orientation: portrait) {
    align-items: center;
    text-align: center;
  }

  div#quote-btn-box {
    display: flex;
    align-items: center;

    button {
      margin: .5rem .25rem .25rem .25rem;
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      background-color: #181818;
      border: 1px solid #0f0f0f;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        opacity: 0.6;
      }
  
      &:active {
        opacity: 0.2;
      }
  
      img {
        width: 60%;
      }
    }
  }

  p {
    margin: .25rem 0;
  }
}
