* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 300;
  color: #f0f0f0;
}

body {
  margin: 0;
  /* background-color: #1c093f; */
  /* background: rgb(37,10,89);
  background: linear-gradient(45deg, rgba(37,10,89,1) 0%, rgba(47,11,112,1) 20%, rgba(58,10,145,1) 100%);  */
}

p {
  font-size: .8rem;
}

#root {
  height: 100vh;
  width: 100vw;
}
