div#portfolio {
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  overflow: auto;
  display: flex;
  flex-direction: column;

  div#shuffle-box {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    button#shuffle-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3rem;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.2;
      }

      img#shuffle {
        width: 55%;
      }
    }
  }
}
